/*  (-CSS reset- Credit: Josh Comeau ) */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*  CSS Reset End */

/* Font File */

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("fonts/Inter-Bold.woff") format("woff");
}

/* --------:root-------- */

:root {
  --primary-clr: #e5eef1;
  --secondary-clr: #232928;
  --teritary-clr: #475c78;
  --fourth-clr: #6431fa;

  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-black: #222;
  --clr-primary-10: hsl(205, 100%, 96%);
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-primary-5: #49a6e9;
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;

  --ff-base: "Inter", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}

body {
  background-color: var(--primary-clr);
  font-family: var(--ff-base);
}

/* --------Scroll Bar-------- */

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb {
  background: var(--fourth-clr);
  border-radius: 0.625rem;
}

/* --------Navigation Bar-------- */

#burger-img,
#close-img,
.mbl-btns {
  display: none;
}

#navigation-bar {
  display: flex;
  justify-content: center;
  gap: 0.375rem;
  padding-block: 1.875rem;
}

#logo {
  color: var(--fourth-clr);
  background-color: transparent;
  border: 0.125rem solid var(--teritary-clr);
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: bold;
  margin-right: 0.625rem;
  padding: 0.625rem;
  border-radius: 0.875rem 0.25rem 0.875rem 0.25rem;
}

.nav-btns {
  text-decoration: none;
  color: var(--primary-clr);
  font-size: 1.125rem;
  font-weight: bold;
  margin-right: 0.625rem;
  background-color: var(--teritary-clr);
  padding: 0.625rem;
  border-radius: 0.875rem 0.25rem 0.875rem 0.25rem;
  border: 0.125rem solid transparent;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.nav-btns:hover {
  color: var(--fourth-clr);
  background-color: transparent;
  border: 0.125rem solid var(--teritary-clr);
}

/* --------Header-------- */

#header {
  background-image: url(images/bg-img-test.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 100vh;
}

#header-title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3.125rem;
  font-size: 9.375rem;
  color: var(--secondary-clr);
}

span {
  color: var(--fourth-clr);
}

/* --------About Me Section-------- */

#about-section {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;

  background-image: url(images/bg-img-test.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

#grid-item1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 30px;
}

#about-img-wrapper {
  border-radius: 50%;
  width: 100px;
  padding-block: 4px;
  transform: rotate(2deg);
  transition: box-shadow 0.4s ease;
  transition: transform 0.4s ease;
}

#about-img-wrapper:hover {
  box-shadow: 1px 1px 10px 1px black;
  transform: rotate(0deg);
}

#about-header {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

#about-paragraph {
  color: var(--teritary-clr);
}

#socials-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.socials-icon {
  width: 25px;
  cursor: pointer;
  transition: opacity 0.4s ease;
}

.socials-icon:hover {
  opacity: 0.6;
}

#grid-item2 {
  align-self: center;

  border: 3px solid var(--secondary-clr);
  border-radius: 10px;
  transition: box-shadow 0.4s ease;
}

#grid-item2:hover {
  box-shadow: 0 0 10px 0 var(--secondary-clr);
}

/*  */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.125rem;
  display: inline-block;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
/* section */

.section-center {
  width: 30vw;
  max-width: 1170px;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
=============== 
About
===============
*/
.about {
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: auto 1fr;
}
.btn-container {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tab-btn:nth-child(1) {
  border-top-left-radius: 0.5rem;
}
.tab-btn:nth-child(3) {
  border-top-right-radius: 0.5rem;
}
.tab-btn {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  background: var(--clr-grey-9);
  cursor: pointer;
  transition: all 0.3s linear;
  letter-spacing: 0.125rem;
}
.tab-btn:hover:not(.active) {
  background: var(--clr-primary-10);
  color: var(--clr-primary-5);
}
.about-content {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 2rem 1.5rem;
}
/* hide content */
.content {
  display: none;
}
.tab-btn.active {
  background: var(--clr-white);
}
.content.active {
  display: block;
}

/* --------Projects Section-------- */

#projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block: 80px;
  border-left: 5px solid var(--secondary-clr);
  border-right: 5px solid var(--secondary-clr);
  border-bottom: 5px solid var(--secondary-clr);

  background-image: url(images/bg-img-test.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

#projects-container-title {
  color: black;
  font-size: 40px;
}

#projects-section {
  width: 90%; /* Width of card container */
  display: flex; /* Set inline elements */
  overflow-x: auto; /* Set overflow in horizontal scroll */
  overflow-y: hidden; /* Hidden overflow in vertical scroll */
  scroll-snap-type: x mandatory; /* Force the scroll to snap to the start of a scroll-snap area */
  gap: 8px; /* Set gap between cards */
  border-radius: 10px;
  cursor: grab;
}

#projects-section::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari and Opera */
}

#projects-section.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.card {
  min-width: 400px; /* Set min width of card */
  scroll-snap-align: start; /* Set the element focus position in scroll container */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 20px;
  border: 2px solid var(--secondary-clr);
  background-color: var(--primary-clr);
  padding: 20px;
  border-radius: 10px;

  transition: box-shadow 0.4s ease;
}

.card:hover {
  box-shadow: 0 0 2px 0 var(--secondary-clr);
}

.card-img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#card-img-one {
  background-image: url(images/project1.jpg);
}

#card-img-two {
  background-image: url(images/project2.jpg);
}

#card-img-three {
  background-image: url(images/project3.jpg);
}

#card-img-four {
  background-image: url(images/project4.jpg);
}

#card-img-five {
  background-image: url(images/project5.jpg);
}

#card-img-six {
  background-image: url(images/project6.jpg);
}

.card-title {
  color: var(--fourth-clr);
  text-transform: uppercase;
}

.view-btn {
  border-radius: 0.875rem 0.25rem 0.875rem 0.25rem;
  font-weight: bold;
  color: var(--primary-clr);
  border: 0.125rem solid transparent;
  background-color: var(--teritary-clr);
  padding: 2px 12px;

  transition: background-color 0.4s ease;
  cursor: pointer;
}

.view-btn:hover {
  color: var(--fourth-clr);
  background-color: transparent;
  border: 0.125rem solid var(--teritary-clr);
}

/* --------Contact Section-------- */

#contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 32px;

  background-image: url(images/bg-img-test.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

#contact-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid var(--secondary-clr);
  background-color: var(--primary-clr);
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 0 2px 0 var(--secondary-clr);
}

label {
  color: var(--fourth-clr);
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  background-color: transparent;
  border: 1px solid var(--secondary-clr);
  border-radius: 2px;
  padding: 6px;
}

input::placeholder {
  color: black;
  font-weight: normal;
  opacity: 0.4;
}

input[type="submit"] {
  width: 50%;
  border: 0.125rem solid transparent;
  border-radius: 0.875rem 0.25rem 0.875rem 0.25rem;
  padding: 6px;
  background-color: var(--teritary-clr);
  color: var(--primary-clr);
  font-weight: bold;

  transition: background-color 0.4s ease;
  cursor: pointer;
}

input[type="submit"]:hover {
  color: var(--fourth-clr);
  background-color: transparent;
  border: 0.125rem solid var(--teritary-clr);
}

/* --------Footer-------- */

footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-clr);
  border: 5px solid var(--secondary-clr);
}

@media (max-width: 800px) {
  /* --------Header-------- */

  #header {
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
  }

  #header-title {
    text-align: center;
    font-size: 6.875rem;
  }

  /* --------Navigation Bar-------- */

  .nav-btns {
    display: none;
  }

  #navigation-bar {
    justify-content: space-between;
    padding-inline: 34px;
    align-items: center;
    margin-bottom: 3.125rem;
  }

  .mbl-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 1.9375rem;
    padding: 2.4375rem;
    margin-left: auto;
    width: 50%;
    background-color: var(--primary-clr);
    border: 0.3125rem solid var(--secondary-clr);
    z-index: 99;
  }

  .hide-links {
    display: none;
  }

  /* Open Close Nav-Menu */

  #open-img-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  #burger-img {
    display: block;
    cursor: pointer;
    width: 35px;
  }

  #cls-img-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  #close-img {
    display: block;
    width: 28px;
    cursor: pointer;
  }

  #mbl-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .mbl-btns {
    display: block;
    text-decoration: none;
    color: var(--primary-clr);
    font-size: 1.125rem;
    font-weight: bold;
    margin-right: 0.625rem;
    background-color: var(--teritary-clr);
    padding: 0.625rem;
    border-radius: 0.875rem 0.25rem 0.875rem 0.25rem;
    border: 0.125rem solid transparent;
    cursor: pointer;
    transition: background-color 0.4s ease;
  }

  .mbl-btns:hover {
    color: var(--fourth-clr);
    background-color: transparent;
    border: 0.125rem solid var(--teritary-clr);
  }
  /* --------About Me Section-------- */

  #about-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    gap: 70px;
  }

  #grid-item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 30px;
    padding: 20px;
  }

  #about-header {
    overflow: hidden;
    border-right: none;
    white-space: nowrap;
    margin: 0;
    letter-spacing: 0.15em;
    font-size: 15px;
    animation: none;
  }

  #grid-item2 {
    align-self: center;

    border: 3px solid var(--secondary-clr);
    border-radius: 10px;
    transition: box-shadow 0.4s ease;
  }

  .section-center {
    width: 90vw;
    max-width: 1170px;
  }

  /* --------About Me Section-------- */

  #about-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    gap: 70px;
  }

  #grid-item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 30px;
    padding: 20px;
  }

  #about-header {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: none; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em; /* Adjust as needed */
    font-size: 15px;
    animation: none;
  }

  #grid-item2 {
    align-self: center;

    border: 3px solid var(--secondary-clr);
    border-radius: 10px;
    transition: box-shadow 0.4s ease;
  }

  .section-center {
    width: 90vw;
    max-width: 1170px;
  }
}
